.iconLeft {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.iconRight {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.seasonDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.seasonDisplay.winter i {
  color: blue;
}

.seasonDisplay.summer i {
  color: red;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}
